<head>
  <style>
    span{
      color: #282f44;
      font-size: 24px;
      font-weight: bold;
    }
  </style>
</head>
<body>
  <h1>Hola {{name}}</h1>
  <hr>
  <p>Se ha solicitado un reseteo de contrase&ntilde;</p>
  <p>Tu nueva contrase&ntilde;a temporal es: <span>{{pass}}</span></p>
</body>