<head>
  <style>
    span{
      color: #282f44;
      font-size: 24px;
      font-weight: bold;
    }
  </style>
</head>
<body>
  <h1>Esta casi todo listo, {{name}}!</h1>
  <hr>
  <p>Tu cuenta esta casi lista! Solo necesitamos que inicies sesi&oacute; con tu contrase&ntilde;a temporal, luego cambiala</p>
  <p>Tu contrase&ntilde;a es: <span>{{pass}}</span></p>
</body>